*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#f2f2f2;
}

.hero{
  width:95%;
  margin:20px auto;
  background:#000;
  min-height:85vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:60px;
  overflow:hidden;
  border-radius:6px;
}

/* LEFT SIDE */
.left{
  color:white;
  max-width:45%;
}

.left h1{
  font-size:64px;
  background:linear-gradient(90deg,#ff70c7,#7aa2ff);
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
}

.left p{
  margin-top:20px;
  font-size:28px;
  color:#a0a0ff;
}

.brand{
  margin-top:180px;
  color:#7aa2ff;
  font-size:22px;
}

/* RIGHT SIDE */
.right{
  width:50%;
  display:flex;
  justify-content:center;
}

.right img{
  width:100%;
  max-width:650px;
  border-radius:6px;
  box-shadow:0 0 40px rgba(255,255,255,0.15);
  transition:0.4s;
}

.right img:hover{
  transform:scale(1.03);
}

/* RESPONSIVE */
@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .left{
    max-width:100%;
    margin-bottom:40px;
  }

  .right{
    width:100%;
  }

  .brand{
    margin-top:40px;
  }
}