*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background: linear-gradient(135deg,#0d1117,#111827,#0d1117);
  color:white;
  overflow-x:hidden;
}

/* animated glow background */
body::before{
  content:"";
  position:fixed;
  width:200%;
  height:200%;
  background: radial-gradient(circle,rgba(0,255,255,0.08) 0%, transparent 70%);
  animation: moveBg 12s linear infinite;
  z-index:-1;
}

@keyframes moveBg{
  0%{transform:translate(-30%,-30%);}
  50%{transform:translate(-10%,-15%);}
  100%{transform:translate(-30%,-30%);}
}

header{
  text-align:center;
  padding:70px 20px;
}

h1{
  font-size:45px;
}

.subtitle{
  color:#8b949e;
  margin-top:10px;
}

.container{
  max-width:1000px;
  margin:auto;
  padding:30px;
}

.projects{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:20px;
}

.card{
  background:#161b22;
  padding:20px;
  border-radius:12px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 25px rgba(0,255,255,0.4);
}

footer{
  text-align:center;
  padding:25px;
  color:#8b949e;
}